*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    font-family: monospace;

}

h1, h2, p {
    margin-bottom: 1em;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 100%;
    background: hotpink;
    height: 100vh;
}

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emoji{
    font-size: 5em;
    user-select: none;
}
#random-emoji{
    background: rgb(63, 11, 207);
}

#emoji:hover{
    font-size: 10em;
    padding: 0.8em;
    transition: 500ms;
    transform: rotate(360deg);
}

#